{% extends "layout.html" %}
{% block content %}
<div class="content-section">
   <form method="POST" action="">
      {{ form.hidden_tag() }}
      <table class="table table-hover" id="rankings-table">
         <thead class="thead-dark">
            <tr>
               <th scope="col">Brand Name</th>
               <th scope="col">Creation Date</th>
               <th scope="col">Queries</th>
               <th scope="col">Helium Data</th>
               <th scope="col">Matching</th>
               <th scope="col">Potential</th>
               <th scope="col">Status</th>
               <th scope="col">CSV</th>
            </tr>
         </thead>
         <tbody>
            {% for item in item %}
            <tr>
               <td class="highlight">{{item.brand}}</td>
               <td>{{item.date}}</td>
               <td><button type="button" name="query" id="query" class="btn btn-outline-success"><a href="{{ url_for('query_page')}}">Create</a></button></td>
               <td>{{ form.submit(class="btn btn-outline-info") }}</td>
               <td><button type="button" name="matcher" id="matcher" class="btn btn-outline-warning">Match</button></td>
               <td><button type="button" name="add" id="AddMoreFileBox" class="btn btn-outline-dark">Run</button></td>
               <td><span class="badge badge-success">Unknown</span></td>
               <td><a href="{{ url_for('download_file')}}"><button type="button" class="btn btn-outline-info">Download</button></a></td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </form>
</div>
{% endblock content %}

