{% include 'admin-layout.html' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Brands</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-body">
              <div class="table-responsive">
                <form method="POST" action="">
      {{ form.hidden_tag() }}
      <table class="table table-hover" id="rankings-table">
         <thead class="thead-dark">
            <tr>
               <th scope="col">Brand Name</th>
               <th scope="col">Creation Date</th>
               <th scope="col">Queries</th>
               <th scope="col">Helium Data</th>
               <th scope="col">Matching</th>
               <th scope="col">Potential</th>
               <th scope="col">Status</th>
               <th scope="col">CSV</th>
            </tr>
         </thead>
         <tbody>
            {% for item in item %}
            <tr>
               <td class="highlight">{{item.brand}}</td>
               <td>{{item.date}}</td>
               <td><button type="button" name="query" id="query" class="btn btn-outline-success"><a href="{{ url_for('query_page')}}">Create</a></button></td>
               <td>{{ form.submit(class="btn btn-outline-info") }}</td>
               <td><button type="button" name="matcher" id="matcher" class="btn btn-outline-warning">Match</button></td>
               <td><button type="button" name="add" id="AddMoreFileBox" class="btn btn-outline-dark">Run</button></td>
               <td><span class="badge badge-success">Unknown</span></td>
               <td><a href="{{ url_for('download_file')}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Download CSV</a></td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </form>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Amazing Brands Gmbh</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="static/js/demo/datatables-demo.js"></script>

</body>

</html>
